<footer>
   <div class="max-w-screen-xl container mx-auto m-auto pb-[48px]">
     <div class="grid grid-cols-1 m-auto justify-center text-clip sm:grid-cols-2 sm:gap-10 lg:grid-cols-4">
       <div class="w-52">
         <h3 class="text-sm font-semibold uppercase pb-4" >про imperia</h3>
         <p class="text-sm font-normal pb-[15px]">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget pretium aenean dignissim sit cursus dictumst adipiscing nunc.
         </p>
         <img src="../images/home/footer.png">
       </div>
       <div>
         <ul class="gap-3">
           <h3  class="text-sm font-semibold uppercase pb-4">контакты</h3>
           <li><a href="#" class="text-sm font-normal pb-[20px]">+998 90 958 78 87</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">support@fonon.uz</a></li>
         </ul>
         <ul>
           <h3  class="text-sm font-semibold uppercase pb-4 pt-[38px]">рабочее время</h3>
           <li><a href="#" class="text-sm font-normal pb-[20px]">По будням 9:00 to 18:00</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">В выходные 11:00 to 18:00</a></li>
         </ul>
       </div>
       <div>
         <ul>
           <h3 class="text-sm font-semibold uppercase pb-4">Меню</h3>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Главная</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">О нас</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Категории</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Сотрудничество</a></li>
         </ul>
       </div>
       <div>
         <ul>
           <h3 class="text-sm font-semibold uppercase pb-4">категории</h3>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Женская одежда</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Мужская одежда</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Детская одежда</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Обувь</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Сумки</a></li>
           <li><a href="#" class="text-sm font-normal pb-[20px]">Аксесуары</a></li>

         </ul>
       </div>
     </div>
   </div>
 </footer>